
@using WebApplication1.ViewModels;
@model List<ProductViewModel>;



<div class="container" ng-controller="Invoice">
    <div class="card">
        <div class="card-header">
            Invoice
            <strong></strong>

        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h6 class="mb-3"></h6>

                </div>


            </div>

            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="center">Invoice No</th>
                            <th>Products</th>


                            <th class="right">Sales Rate</th>
                            <th class="center">Cost Rate</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="center">@item.Code</td>
                                <td class="left strong">@item.Name</td>


                                <td class="right">$@item.SalesRate</td>
                                <td class="center">$@item.CostRate</td>
                                <td class="right">$@item.Total</td>
                                <td> <a asp-action="Edit" asp-controller="Home" asp-route-Id="@item.Code" class="btn btn-dark">Edit</a></td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
            @*   <div class="row">
            <div class="col-lg-4 col-sm-5">
            </div>

            <div class="col-lg-4 col-sm-5 ml-auto">
            <table class="table table-clear">
            <tbody>
            <tr>
            <td class="left">
            <strong>Subtotal</strong>
            </td>
            <td class="right">$8.497,00</td>
            </tr>
            <tr>
            <td class="left">
            <strong>Discount (20%)</strong>
            </td>
            <td class="right">$1,699,40</td>
            </tr>
            <tr>
            <td class="left">
            <strong>VAT (10%)</strong>
            </td>
            <td class="right">$679,76</td>
            </tr>
            <tr>
            <td class="left">
            <strong>Total</strong>
            </td>
            <td class="right">
            <strong>$7.477,36</strong>
            </td>
            </tr>
            </tbody>
            </table>

            </div>

            </div> *@

        </div>
    </div>
</div>

