@using WebApplication1.ViewModels;
@model ProductViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Product Form</title>
</head>
<body class="p-3 mb-2 bg-warning text-white">
    <form method="post" action="/Home/SaveProduct">
        <fieldset>
            <legend>Add Product</legend>
            <div>
                <label for="Name">Product Name:</label>
                <input type="text" name="Name" value="" />
            </div><br>
            <div>
                <label for="CategoryCode">CategoryCode:</label>
                <select asp-for="@Model.CategoryCode" id="CategoryCode"> </select>
            </div><br />
            <div>
                <label for="BrandCode">BrandCode:</label>
                <select asp-for="@Model.BrandCode" id="BrandCode"> </select>
            </div><br />
            <div>
                <label for="SalesRate">Sales Rate:</label>
                <input type="text" name="SalesRate" value="" />
            </div><br />
            <div>
                <label for="CostRate">Cost Rate:</label>
                <input type="text" name="CostRate" value="" />
            </div><br />
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/Invoice.js"></script>